@page "/"
@* Optional: @namespace FlightRegistration.BlazorDisplay.Pages *@

<PageTitle>Home</PageTitle>

<h1>Welcome to the Flight Display App!</h1>
<p>Use the navigation menu to view the flight display board.</p>